main {
    display: flex;
    align-items: center;
    font-family: Almarai, 'sans-serif';
    color: #414141;
}

main img {
    width: 50vw;
}

main div {
    margin-left: 7vw;
}

main .links {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main a {
    text-decoration: none;
    color: #414141;
}

main .facebook {
    margin-top: 2vh;
}
