body {
    background-color: #F4F4F4;
    margin: auto;
}

nav {
    background-color: #D5CAC0;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
}

nav a {
    text-decoration: none;
    margin: 0 3vw;
    font-family: 'Annie Use Your Telescope', sans-serif;
    font-size: 2rem;
    color: #414141;
}

nav a:hover {
    font-weight: bold;
}

nav .login {
    background-color: #9BB0AB;
    margin-right: 2vw;
}

nav .login:hover {
    background-color: #7EA098;
    font-weight: bold;
}

footer {
    background-color: #D5CAC0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer img {
    width: 90px;
    height: auto;
}

footer div {
    display: flex;
    align-items: center;
    font-family: 'Annie Use Your Telescope', sans-serif;
    margin: 0 2vw;
}

footer div img {
    width: 30px;
    height: auto;
    margin: 0 1vw 0 1vw;
}

footer a {
    text-decoration: none;
    color: #414141;
}
footer a:hover {
    font-weight: bold;
}

/*  <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Almarai&family=Annie+Use+Your+Telescope&display=swap">

    <nav>
        <img src="images/Logo-reserveringsysteem.png" alt="wolhoop-logo">
        <div>
            <a href="index.php">Home</a>
            <a href="blog.php">Blog</a>
            <a href="bestellen.php">Bestellen</a>
            <a href="contact.php">Over Wolhoop</a>
        </div>
        <div class="login">
            <a href="login.php">Login</a>
        </div>
    </nav>

    <footer>
        <img src="images/Logo-reserveringsysteem.png" alt="wolhoop-logo">
        <div>
            <img src="images/instagram.png" alt="instagram-logo">
            <a href="https://www.instagram.com/dewolhoopspinning/">@dewolhoopspinning</a>
            <img src="images/facebook.png" alt="facebook-logo">
            <a href="https://www.facebook.com/groups/3217490328265360">De Wolhoop</a>
        </div>
    </footer>*/