#all-colors,#bestseller,#season-colors{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    justify-items:center;
    gap:5rem;
    padding-bottom: 6vh;
}

.bestseller, .all-colors{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}
.all-colors, .bestseller{
    background-color: #D5CAC0;
    padding: 2vh 1vw;
    border-radius: 1vw;
    border:2px outset #a29081;
    box-shadow: 0.2vw 0.4vh 0.4vw #D5CAC0;
}
h1 {
    font-family: 'Annie Use Your Telescope', sans-serif;
    color: #414141;
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

#bestseller img,#all-colors img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 2vw;
    border: 0.15vw solid #414141;
}


