body {
    color: #414141;
}

main {
    margin: 1vh 5vw;
}

table {
    width: 100%;
}

table, th, td {
    border: 0.1vw solid #414141;
    border-collapse: collapse;
    padding: 0.1vh 0.5vw;
    font-size: 1.1rem;
}

th, td {
    max-width: 10vw;
}

th {
    text-align: left;
}

a {
    text-decoration: none;
    color: #205D20;
}
a:hover {
    text-decoration: underline;
}