main {
    display: flex;
    align-items: center;
}
main img {
    width: 20vw;
    height: 160vh;
    object-fit: cover;
}

.form {
    display: flex;
    flex-direction: column;
}

form {
    max-width: 60vw;
    padding: 0 15vw;
}

form h2 {
    text-align: center;
    font-size: 2rem;
}

form div {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

form .stack {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

#small {
    max-width: 10vw;
    margin-left: 0.5vw;
}

form label {
    font-weight: bold;
    color: #414141;
    margin-bottom: 0.3vw;
    margin-left: 1vw;
}

form input {
    padding: 0.7vw 0 0.7vw 0.2vw;
    border-style: solid;
    border-color: #414141;
    background-color: #e7dede;
    border-radius: 2vw;
}

form input:hover {
    background-color: #d5cdcd;
}

form p {
    color: #e70202;
    margin-left: 1vw;
}

form .infix {
    color: #FAF4F4;
}

form .submit {
    width: 30vw;
    border-radius: 10vw;
    padding: 0.5vw 0 0.5vw 0.2vw;
    background-color: #205D20;
    color: #D3E9D6;
    font-family: Almarai, 'sans-serif';
    font-size: 1rem;
    transition: 300ms ease-out;
}

form .submit:hover {
    background-color: #aabdac;
    color: #414141;
    font-weight: bold;
    transition: 300ms ease-in;
}

.form a {
    padding: 0.7vw 15vw;
    text-align: center;
    color: #414141;
    text-decoration: none;
    transition: 600ms all;
    position: relative;
}

.form a:after {
    content: '';
    background-color: #414141;
    position: absolute;
    bottom:3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: 600ms ease-in-out;
}
.form a:hover:after {
    margin: 0 23vw;
    width: 14vw;
}
.form a:hover {
    font-weight: bold;
}

