* {
    box-sizing: content-box;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    background: #FAF4F4;
}

/* Nav Bar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #D5CAC0;
    font-family: Annie use your Telescope, 'sans-serif';
    height: 10vh;
}
nav img {
    width: 6vw;
    height: auto;
    object-fit: contain;
}

/* Header */
header {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:10vw;
    padding: 0 4vw;
}
.header-left{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0 4vw;
}

/* Section Blogs*/
#recent-blog,#kleuren {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    padding: 5vh 4vw;
    gap: 1rem;
}
#recent-blogs h1, #index-besteller h1{
    font-family: 'Annie Use Your Telescope', sans-serif;
    color: #414141;
    font-size:2.5rem;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
    text-transform:capitalize;
}



/* Section Best sellers*/
.bestseller-color,.article-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-images, .header-images, .kleuren-images {
    width: 250px;
    height: 250px;
}
.article-one-bottom{
    text-align: left;
}
.kleuren-images,.blog-images{
    border: 2px solid black;
}
.blog-button{
    text-decoration: none;
    padding: 0.5vh 4vw;
    background-color: #205D20;
    color: #D3E9D6;
    font-family: Almarai, 'sans-serif';
    border-radius:25px 25px 25px;
    transition: 400ms ease-in-out;
}
.blog-button:hover{
    background-color: #aabdac;
    color: #414141;
    font-weight: bold;
}
/* Footer */

