* {
    box-sizing: content-box;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    background: #FAF4F4;
    color: #414141;
}

/* Nav Bar */
/* nav bar css in global.css file */

/* Header */
header {
    display: grid;
    grid-template-columns:1.5fr 1fr;
    padding: 0 4vw;
    max-height: 85vh;
    background-image: linear-gradient(180deg, #D5CAC0, #FAF4F4);
}
.header-left {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0 4vw;
}

header h1 {
    font-family: 'Annie Use Your Telescope', sans-serif;
    font-size: 3rem;
}

.header-images {
    max-height: 80vh;
    width: 100%;
}

/* Section Blogs*/
#recent-blog, #kleuren {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    padding: 5vh 4vw;
}
#recent-blogs h1, #index-besteller h1{
    font-family: 'Annie Use Your Telescope', sans-serif;
    color: #414141;
    font-size:2.5rem;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
    text-transform:capitalize;
}


/* Section Best sellers*/
.bestseller-color,.article-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-images, .kleuren-images {
    height: 30vh;
    width: 22vw;
    object-fit: cover;
    border-radius: 2vw;
    border: 0.15vw solid #414141;
}

.article-one-bottom h3, .article-one-bottom p {
    max-width: 18vw;
}

.article-one-bottom, .color-article{
    min-height: 60vh;
    background-color: #D5CAC0;
    padding: 2vh 1vw;
    border-radius: 1vw;
    border: outset #a29081;
    box-shadow: 0.2vw 0.4vh 0.4vw #D5CAC0;
    transition: 700ms ease-in-out;
}

.article-one-bottom:hover, .color-article:hover {
    background-color: #cebfb5;
        box-shadow: 0.6vw 1vh 0.4vw #ab9482;
}

.color-article {
    min-height: 30vh;
}

.blog-button{
    text-decoration: none;
    padding: 0 7.5vw;
    background-color: #205D20;
    color: #D3E9D6;
    /*width: 100%;*/
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: Annie use your Telescope, 'sans-serif';
    border-radius: 2vw;
    border: 0.15vw solid #205D20;
    transition: 400ms ease-in-out;
}
.blog-button:hover{
    background-color: #aabdac;
    color: #414141;
    font-weight: bold;
    border: 0.15vw solid #414141;

}
.button-to-right{

}
.all-color-button{
    text-align: right;
    margin:0 7vw 2vw 0;
}
/* Footer */

