* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Almarai, 'sans-serif';
    background: #FAF4F4;
}

nav {
    background-color: #D5CAC0;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    width: 100px;
}
.login{
    background-color: #9BB0AB;
    margin-right: 2vw;
}

nav a {
    text-decoration: none;
    margin: 0 3vw;
    font-family: 'Annie Use Your Telescope', sans-serif;
    font-size: 2rem;
    color: #414141;
    /*transition: 600ms all;*/
    /*position: relative;*/
}

/*nav a:after {*/
/*    content: '';*/
/*    background-color: #414141   ;*/
/*    position: absolute;*/
/*    bottom:3px;*/
/*    left: 0;*/
/*    width: 0;*/
/*    height: 2px;*/
/*    transition: 600ms ease-in-out;*/
/*}*/

/*nav a:hover:after {*/
/*    text-decoration: underline dotted;*/
/*    width: 100%;*/
/*}*/

nav a:hover {
    font-weight: bold;
}

.navbar-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-middle a {
    padding: 0 2vw;
    margin: 0 3vw;
}


header {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
    padding: 0 4vw;
}

.header-left {
    display: flex;
    justify-content: center;
    padding: 5vh 4vw;
    flex-direction: column;
    width: 60vw;
}

header div {
    border: 2px solid black;
}

#recent-blogs {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    padding: 5vh 4vw;
    gap: 1rem;
}

article {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.blog-images, .header-images, #kleuren img {
    width: 250px;
}

#kleuren {
    display: flex;
    padding: 5vh 4vw;
    justify-content: space-between;
}

#kleuren img {
    border: 2px solid black;
}

/* Footer */
footer {
    background: #d5cac0;
    padding: 0 4vw;
}

footer a {
    text-decoration: none;
    color: #414141;
    font-family: 'Annie Use Your Telescope', sans-serif;
    transition: 600ms ease-in-out;
    position: relative;

}

/* Underline animation 11/01/2024 20:23 Roshan*/
footer a::before {
    content: '';
    background-color: #414141;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: 600ms ease-in-out;

}

footer a:hover::before {
    width: 100%;
}

footer a:hover {
    font-weight: bold;
    transform: scale(1.35);
}

/* Underline animation 11/01/2024 20:23 Roshan*/

#upper-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#upper-footer-one {
    width: 25rem;
}

#upper-footer-two img {
    width: 2vw;
    margin: 0 1vw;
}

#upper-footer-two {
    display: flex;
    align-items: center;
}


/* BLOG.php starts here*/
#all-blogs {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr;
    gap: 1rem;
}

#all-blogs article {
    display: flex;
    flex-direction: row;
}